<h1>Nothing to see here!</h1>
<p>Move along</p>
<img src="https://spaceofentropy.files.wordpress.com/2014/07/thumb_it_up_and_move_along-106603.gif?w=593" alt="Move along" />
<p><%= link_to("Hello " + @name, say_hello_path) %></p>
