<p><%= @time_now %></p>
<h1>Agile Web Development with Rails 4!</h1>
<p>I'm <%= @full_name %> and this is my first tutorial on my journey to learn Ruby On Rails with this book.</p>
<img src="http://i.imgur.com/9e9sx.gif" alt="Groovy Gandalf" />
<p>Useless fact: In 69 days it'll be <strong><%= 69.days.from_now.strftime("%A %d %B, %Y") %></strong>. Wow!</p>
<p><%= link_to("Goodbye " + @first_name, say_goodbye_path) %></p>
